.container{
	  display: flex;
	  flex-wrap: wrap;
	  margin : 50px auto;
	  max-width: 100%;

	}
.card{
	z-index: 2;
    width: 90px;
	margin : 10px auto 20px;
	margin-bottom : 20px;
	border-style: none;

	}

.card-text{
	height: 60px;
}
.card-text-titre{
	margin: auto;
	 font-family:Brush Script MT, Brush Script Std, cursive;
	 font-size: 18px;
	 text-align: center;
	 color: red;
	 width: 100%; 
	 height: 50%;
	text-overflow: ellipsis;
	overflow: hidden;

}

.commune-date{
	  display: flex;
	  flex-wrap: wrap;
	  height: 50%;
	  margin: auto;
	  width: 80%;
	}
.card-text-commune{
	flex: 2;
	 font-family:Luminari, fantasy	;
	 font-size: 14px;
	 text-align: left;
	 color: black;
}
.card-text-date{
	flex : 1;
	 font-family:Luminari, fantasy	;
	 font-size: 14px;
	 text-align: right;
	 color: black;
}


.active{
    color: orange;
}

.page-footer{
	z-index: 3;
	position : relative;
	bottom: 0px;
	margin-top: 50px;
	width: 100%;
	height: 100px;
	background-color: #263238;
	color : white;
	border-style: none;
}

.content-footer{
	text-align: center;
	margin: auto;
	width: 100%;
	
}


/* page visualisation document seul*/

.conteneur-document{
	  display: flex;
	  flex-wrap: wrap;
	  margin : 50px auto;
	  max-width: 100%;

	}

.img-document{
	width: 95%;
	padding-left: 2.55%;


}
.document-titre{
	color : blue;
}

.document-content{
	  display: flex;
	  flex-wrap: wrap;
	  margin: auto;
	  width: 80%;
	}

	.document-titre{
	margin: auto;
	 font-family:Brush Script MT, Brush Script Std, cursive;
	 font-size: 20px;
	 text-align: center;
	 color: red;
	 width: 100%; 
	 height: 50%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.document-commune{
	flex: 2;
	 font-family:Luminari, fantasy	;
	 font-size: 14px;
	 text-align: left;
	 color: black;
}
.document-date{
	flex : 1;
	 font-family:Luminari, fantasy	;
	 font-size: 14px;
	 text-align: right;
	 color: black;
}

.document-theme{
	  margin: auto;
	  width: 80%;
	 font-size: 14px;
	 text-align: left;
	 color: black;
}

.document{
	width: 50%;
}
.googleMaps{
	width: 50%;
}




.button-more {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  width: 60px;
  height: 15px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button-more:hover span {
 background-color: white;
}



.form-filter{
position: absolute;
top :0px;
right : 20px;
maring : 50px auto 50px;
}

.content-apropos{
	margin : 50px auto;
	align-content: left;
	text-justify: auto;

	width: 95%;
}
